<h4>Hard Skills</h4>

<div class="div-ts"><img src="assets/fotos/ts.png" class="icono"> TypeScript</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="65" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 65%"></div>
</div>

<div class="div-js"><img src="assets/fotos/js.png" class="icono"> JavaScript</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="60" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 60%"></div>
</div>

<div class="div-html"><img src="assets/fotos/html.png" class="icono-html">HTML5</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 80%"></div>
</div>

<div class="div-css"><img src="assets/fotos/css.png" class="icono-css">CSS</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 80%"></div>
</div>

<div class="div-bootstrap"><img src="assets/fotos/bootstrap.png" class="icono-bootstrap"> Bootstrap</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 70%"></div>
</div>

<div class="div-angular"><img src="assets/fotos/angular.png" class="angular-icono"> Angular</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 70%"></div>
</div>

<div class="div-java"><img src="assets/fotos/java.png" class="java-icono">Java</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="68" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 68%"></div>
</div>

<div class="div-nb"><img src="assets/fotos/nb.png" class="nb-icono"> NetBeans</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="69" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 69%"></div>
</div>

<div class="div-sb"><img src="assets/fotos/sb.png" class="sb-icono"> Spring Boot</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="60" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 60%"></div>
</div>

<div class="div-mysql"><img src="assets/fotos/mysql.png" class="mysql-icono"> MySQL</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="64" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 64%"></div>
</div>

<div class="div-vsc"><img src="assets/fotos/vsc.png" class="vsc-icono"> Visual Studio Code</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="78" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 78%"></div>
</div>

<div class="div-postman"><img src="assets/fotos/postman.png" class="postman-icono"> Postman</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 70%"></div>
</div>

<div class="div-github"><div class="fondo-github"><img src="assets/fotos/github.png" class="github-icono"></div> GitHub</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="68" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 68%"></div>
</div>
<br/>
<h4>Soft Skills</h4>

<div class="div-resiliencia"><img src="assets/fotos/resiliencia.png" class="resiliencia-icono"> Resiliencia</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="88" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 88%"></div>
</div>

<div class="div-responsabilidad"><img src="assets/fotos/responsabilidad.png" class="responsabilidad-icono"> Responsabilidad</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 90%"></div>
</div>

<div class="div-flexibilidad"><img src="assets/fotos/flexibilidad.png" class="responsabilidad-icono"> Flexibilidad</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="95" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 95%"></div>
</div>

<div class="div-colaboracion"><img src="assets/fotos/colaboracion.png" class="colaboracion-icono"> Colaboracion</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="90" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 90%"></div>
</div>

<div class="div-creatividad"><img src="assets/fotos/creatividad.png" class="creatividad-icono"> Creatividad</div>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="93" aria-valuemin="0"
    aria-valuemax="100">
    <div class="progress-bar" style="width: 93%"></div>
</div>
