<div class="proyectos">
    <div><p>Mi primer proyecto es este mismo portfolio que pude crear gracias al curso de Argentina Programa. 
        En este mismo proyecto implementé para el Back End la utilización del programa NetBeans junto con el framework de Spring Boot y base de datos MySQL. 
        Para el Front End utilicé el programa Visual Studio Code junto con el framework de Angular. 
        En este proyecto utilicé principalmente los lenguajes de Java, TypeScript, HTML5 y CSS.</p></div>
    <br/>     
    <h3>Próximamente mas proyectos!</h3>
</div>
