 <div class="div-secundario">
    <div class="menu">
        <ul class="lista">
            <li class="item-lista">
                <div class="solapa">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <span>SOBRE MI</span>
                    </a>
                </div>
            </li>
            <li class="item-lista">
                <div class="solapa">
                    <a routerLink="/cursos" routerLinkActive="active">
                        <span>CURSOS</span>
                    </a>
                </div>
            </li>
            <li class="item-lista">
                <div class="solapa">
                    <a routerLink="/habilidades" routerLinkActive="active">
                        <span>HABILIDADES</span>
                    </a>
                </div>
            </li>
            <li class="item-lista">
                <div class="solapa">
                    <a routerLink="/proyectos" routerLinkActive="active">
                        <span>PROYECTOS</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="info-solapas">
    <router-outlet></router-outlet>
</div>
    <h3 class="linea">· ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ · ♡ ·</h3>

