

<div class="sobre-mi">
    <div><h3>Hola! Soy Agustina Mariel Martinó <i class="fa-regular fa-face-smile"></i></h3></div>
    <br/>
    <div><p id="text-sobremi">Bienvenidos a mi portfolio! Soy Argentina, actualmente viviendo en la Ciudad Autónoma de Buenos Aires. 
        Curiosa por naturaleza, decidí navegar en el mundo de la programación, actualmente habiendo podido participar en el curso de Argentina Programa 4.0, 
        donde comencé la creación de mi portfolio como proyecto final. 
        En este mismo proyecto pude adquirir conocimientos de un Desarrollador Full Stack Jr. 
        Aun habiendo mucho por conocer, deseo poder segir ampliando mis conocimientos sobre este rubro.</p></div>
</div>